<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <div class="col-sm-2">
      <%= form.label :name, class: "col-form-label" %>
    </div>
    <div class="col-sm-6">
      <%= form.text_field :name, required: true,
                          placeholder:"Event name required",
                          class: "form-control form-control-sm " %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2">
      <%= form.label :date %>
    </div>
    <div class="col-sm-6">
      <%= form.datetime_select :date, class:"form-control input-sm"  %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-2">
      <%= form.label :description %>
    </div>
    <div class="col-sm-6">
      <%= form.text_area :description,
                         required: true,
                         placeholder:"Description required",
                         class:"form-control", rows:"3",
                         maxlength: 300 %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-2">
      <%= form.label :email %>
    </div>
    <div class="col-sm-6">
      <%= form.text_field :email,
                          required: true,
                          class: "form-control form-control-sm",
                          placeholder:"Enter your email", type: "email" %>
    </div>
  </div>

    <div class="">
      <div class="actions">
        <%= form.submit nil, :class => "btn btn-secondary btn-sm active" %>
      </div>
    </div>
  </div>

<% end %>
