<p id="notice"><%= notice %></p>

<h2 class="display-5 text-center p-2 mb-2 bg-secondary text-white rounded-pill">Editing Event</h2>

<%= render 'form', event: @event %>

<div class="col-md-16">
  <ul class="nav">
    <div style="margin-right: 2px">
      <li class="nav-item">
        <%= link_to 'Back', events_path, :class => "btn btn-secondary btn-sm active" %>
      </li>
    </div>
  </ul>
</div>
