<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Welcome to Codeur-Events</h1>
    <p class="lead">Codeur-Events allows you to create and manage your favorite events.</p>
    <p class="lead">Enjoy it!</p>
  </div>
</div>