<p id="notice"><%= notice %></p>

<h2 class="display-5 text-center p-2 mb-2 bg-secondary text-white rounded-pill">My Events</h2>

<div class="table-responsive-md">
  <table id="events" class="table table-hover table-sm table-bordered">
    <thead class="table-active">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Email</th>
      <th><%= sortable "date", "Event Date" %></th>
      <th><%= sortable "created_at", "Created At" %></th>
      <th colspan="3">Options</th>
    </tr>
    </thead>

    <tbody>
    <% @events.each do |event| %>
      <tr>
        <td class="<%= "red" if  Date.today+10 >= event.date %>"><%= event.name %></td>
        <td><%= event.description %></td>
        <td><%= event.email %></td>
        <td><%= event.date.strftime("%e %B %Y, %H:%M") %></td>
        <td><%= event.created_at.strftime("%e %B %Y, %H:%M") %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <br>
</div>
