<p id="notice"><%= notice %></p>

<h2 class="display-5 text-center p-2 mb-2 bg-secondary text-white rounded-pill">Show Event</h2>

<div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header"><%= @event.name %></div>
  <div class="card-body">
    <p>
      <strong>Name:</strong>
      <%= @event.name %>
    </p>

    <p>
      <strong>Date:</strong>
      <%= @event.date %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @event.description %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @event.email %>
    </p>

  </div>
</div>

<div class="col-md-16">
  <ul class="nav">
    <div style="margin-right: 2px">
      <li class="nav-item">
        <%= link_to 'Edit', edit_event_path(@event), :class => "btn btn-secondary btn-sm active" %>
      </li>
    </div>
    <div style="margin-right: 2px">
      <li class="nav-item">
        <%= link_to 'Back', events_path, :class => "btn btn-secondary btn-sm active" %>
      </li>
    </div>
  </ul>
</div>


