<!DOCTYPE html>
<html>
  <head>
    <title>Codeur-Events</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container-fluid">
    <ul class="nav nav-pills justify-content-end">
      <li><%= link_to 'Home', root_path, class: "nav-link " %></li>
      <li><%= link_to 'Create Event', new_event_path, class: "nav-link" %></li>
      <li><%= link_to 'My Events', events_path, class: "nav-link" %></li>
    </ul>
  </div>
  <br>
    <%= yield %>
  </body>
</html>
